
.container {
  border: 1px solid lightgray;
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  flex-wrap: wrap;
  padding: 5px;
  width:100%;
}

.menu-items-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  text-align: center;
}

.menu-items-container li {
  list-style: none;
}

.menu-items-container li a {
  text-decoration: none;
  color: white;
}
.hero{
    color:black;
    background-color: white;
    width: 100%;
    height: 700px;
    flex-wrap: wrap;;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    text-align: center;

}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  margin-bottom: 50px;

}
.card-content p {
  color: #555;
  margin-top: 10px;
}
.card-content {
  padding: 10px;
}
.card img {
  width: 100%;
  height: 200px;
}
.card {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px grey;
  overflow: hidden;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}
.card-container h2 {
  text-align: center;
}
footer{
    text-align: center;
    background-color: black;
    color: white;
    width: 100%;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: center;
}
.hero img{
    width: 300px;
    border: 3px;
    border-radius: 10000px;

}
body {
  margin: 0;
  padding: 0;
}
.container a:hover{
    color:yellow;

}