@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap")
;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  
}
header{
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;
}
.logo{
    color:white;
    text-decoration: none;
    font-size: 2.5em;
    font-weight: bold;
}
a.logo:hover {
    color:yellow;
}
.logo span{
    color:yellow;
}
a.logo span:hover{
    color:white;

}
.navbar{
    display: flex;
    position: relative;
    
}
.navbar li{
    text-decoration: none;
    margin-left: 30px;
    list-style: none;
    text-align: center;
    margin-top: 10px;
    
}
header .navbar li a{
    font-weight: 200;
    font-size: 1.3em;
    transition: 0.5s;
    color:white;
    text-decoration: none;

}
header .navbar li a:hover{
    color:rgb(196, 196, 16);
}

.home {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(https://thumbs.6sqft.com/wp-content/uploads/2021/07/13123945/The-Rooftop-at-Pier-17-concert.jpg?w=2000&format=webp);
  background-size: cover;
}
.home_content{
    text-align: center;
    max-width: 900px;
}
.home .home_content h2{
    color:white;
    font-size: 5em;
}
.home .home_content p{
    font-weight: 300;
    color:white;
    margin-bottom: 50px;
}
.btn {
  position: relative;
  padding: 1rem 2rem;
  font-size: 1.3rem;
  font-weight: 600;
  background: none;
  border: 3px solid rgb(196, 196, 16);
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease;
}
.btn a{
  color:white;
  text-decoration: none;
}

.liquid {
  background: linear-gradient(rgb(196, 196, 16)) no-repeat calc(200% - var(--p, 0%))
    100% / 200% var(--p, 0.2em);
  transition: 0.3s var(--t, 0s),
    background-position 0.3s calc(0.3s - var(--t, 0s));
}

.liquid:hover {
  --p: 100%;
  --t: 0.3s;
  color: #fff;
}
.about{
  padding:80px;
  background-color: black;
}
.about_content{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.about_content .col50{
  width: 50%;
}
.imgbx {
  width: 100%;
  min-height: 300px;
}
.imgbx img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.titleway {
  color: white;
  font-size: 2em;
  font-weight: 300;
  text-align: center;
  margin-bottom: 20px;
}
.about_content .col50 .titleway span{
  color:rgb(196, 196, 16);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}
.about_content .col50 p{
  color:white;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
  margin-bottom: 50px;

}
.card-content p {
  color: #555;
  margin-top: 10px;
}
.card-content {
  padding: 10px;
}
.card img {
  width: 100%;
  height: 200px;
}
.card {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px grey;
  overflow: hidden;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}
.card-container h2 {
  text-align: center;
}
.eventstext{
  margin-top: 50px;
  padding: 20px;
  text-align: center;
  font-size: 3em;
  text-decoration: underline;
  text-decoration-color: yellow;
}
                                            <!-- Testimonials page--> 

.final{
  background-color: black;
  padding: 20px;
  margin-top: 0px;
  width: 100%;
}
.finalcnt p{
  color:yellow;
  text-align: center;
}
.socials {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 5px;
}

.socials a {
  color: yellow;
  font-size: 1.3rem;
  padding: 5px;
  border-radius: 100%;
  transition: 0.2s;
}

.socials a:hover {
  background: yellow;
  color: black;
  transform: translateY(-5px);
}
